/* 

  *** content ***
  1. IBM Plex Mono
  2. Plus Jakarta Sans
  3. Source Serif 4

*/

/* **********  IBM Plex Mono start ********** */
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBM_Plex_Mono/ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
/* ********** IBM Plex Mono end ********** */

/* ********** Plus Jakarta Sans start ********** */
@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/Plus_Jakarta_Sans/ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}
/* ********** Plus Jakarta Sans end ********** */

/* ********** Source Serif 4 start ********** */
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}
/* ********** Source Serif 4 end ********** */
